* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: white;
  --black: black;
  --Infinity: #212832;
  --Matt-Purple: #8a79df;
  --Soft-Charcoal: #84829a;
  --Dusty-Orange: #df6951;
  --Fly-by-Night: #181e4b;
  --Santas-Grey: #9ca0b0;
  --Gorgonzola-Blue: #4152ca;
  --Strong-Irise: #5e6282;
  --Lemon-Dream: #f1a501;
  --Deadly-Depths: #14183e;
  --Ocean-Depths: #006380;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
header .container label {
  display: none;
  cursor: pointer;
}
header .container input {
  appearance: none;
}
header .container nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header .container nav ul li a {
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: var(--Infinity);
  padding: 0 20px;
}
header .container nav ul .sign_up {
  border: 1px solid var(--Infinity);
  border-radius: 5px;
  padding: 8px 0;
}
header .container nav ul li select {
  border: none;
  margin: 10px 20px;
  background-color: inherit;
}
@media (max-width: 1200px) {
  header .container nav ul {
    display: none;
  }
  header .container label {
    display: block;
  }
  header .container input:checked ~ ul {
    display: block;
    position: absolute;
    right: 0;
    border: 1px solid var(--Infinity);
    background-color: var(--white);
    margin: 10px;
  }
  header .container nav ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--Infinity);
  }
  header .container nav ul .sign_up {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--Infinity);
  }
}
.hero .container {
  display: flex;
  padding-top: 60px;
}
.hero .container .identification .around_the_world {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--Dusty-Orange);
  padding-bottom: 17px;
}
.hero .container .identification h1 {
  font-size: 84px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  letter-spacing: -4%;
  line-height: 89px;
  color: var(--Fly-by-Night);
}
.hero .container .identification h1 span {
  position: relative;
}
.hero .container .identification h1 span::before {
  position: absolute;
  top: 90px;
  content: "";
  width: 100%;
  height: 50px;
  background-image: url(../images/Decore.webp);
  background-repeat: no-repeat;
  background-size: calc(100% + 80px);
  z-index: -1;
}
.hero .container .identification p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--Strong-Irise);
  line-height: 30px;
  padding-top: 20px;
}
.hero .container .identification .btn_hero {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.hero .container .identification .btn_hero .find {
  background-color: var(--Lemon-Dream);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", serif;
  border-radius: 10px;
  padding: 13px;
}
.hero .container .identification .play_btn {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.hero .container .identification .play_btn .image_play {
  background-image: url(../icons/Polygon\ 1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--Dusty-Orange);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hero .container .identification .play_btn a {
  color: var(--Strong-Irise);
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", serif;
  padding: 15px;
}
.hero .container .image .blob {
  position: absolute;
  top: 0;
  z-index: -1;
}
